[user]
    name = Arthur Furlan
    email = afurlan@afurlan.org

[color]
    status = auto
    diff = auto
    branch = auto
    ui = auto
    grep = auto

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    df = diff

[branch]
	autosetupmerge = true
